mixin input-text(props)
  .input-text&attributes(attributes)
    .input-text__wrapper
      label.input-text__label(for= props.id) #{props.placeholder}
      input.input-text__input(type= props.type id= props.id)
      if props.err
        small.input-text__err Some error!