.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 11px;
  border-radius: 8px;
  background-color: $color-main;
  font-size: 14px;
  text-decoration: none;
  color: $white;
  transition: background .3s;

  &:hover {
    color: $white;
    background-color: $color-secondary;
    transition: background .3s;
  }
}