.page {
  min-width: 320px;
  min-height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.page__inner {
  flex-grow: 1;
}

.page-err {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.page-err__title {
  margin-bottom: 0;
}

.page-err__link {
  margin-top: 40px;
}

.page-login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.page-signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.page-chat {
  display: flex;
}
