extends layouts/layout.pug

block vars
  - var title = '500';

block content
  .page-err
    h1.page-err__title 500
    .page-err__text Мы уже фиксим.
    a.page-err__link(href='/') Вернуться на главную